# ***SET innodb-buffer-pool-size (default 128M)To @ 80% of memory then divide by 1G to set innodb-buffer-instances (default is 8)
# set wsrep options below for each node
[client]
port		= 3306
socket		= /var/run/mysqld/mysqld.sock

[mysqld]
#
# * Basic Settings
#
skip-host-cache
skip-name-resolve
skip-external-locking
bind-address   			=0.0.0.0
port					=3306
datadir					=/var/lib/mysql
tmpdir					=/tmp
socket					=/var/run/mysqld/mysqld.sock
user					=mysql

# Error logging goes to syslog due to /etc/mysql/conf.d/mysqld_safe_syslog.cnf.
#
# we do want to know about network errors and such
log-error	=/dev/stderr
log_warnings		= 3
#
# Enable the slow query log to see queries with especially long duration
#slow_query_log[={0|1}]
slow_query_log_file		= /var/log/mysql/mariadb-slow.log
long_query_time 		= 10
expire_logs_days		= 10
max_binlog_size     	= 100M


default-storage-engine=InnoDB
innodb-autoinc-lock-mode=2
innodb-flush-log-at-trx-commit=0
# on t2.small  divide pool-size by 1G for number of instances
innodb-buffer-pool-size=1G
#innodb-buffer-instances=

innodb-flush-method=O_DIRECT

innodb_use_native_aio = 1
innodb_use_mtflush = 0
innodb_mtflush_threads = 0
innodb_file_per_table = 1
innodb_doublewrite = 1
innodb_use_fallocate = 1
innodb_use_atomic_writes = 0
innodb_use_trim = 0
innodb_thread_concurrency = 32
innodb_write_io_threads = 32
innodb_read_io_threads = 32
innodb_file_format=barracuda
innodb_lru_scan_depth=2000
innodb_io_capacity=30000
innodb_io_capacity_max=35000

innodb-large-prefix=ON
innodb_strict_mode=ON
innodb_prefix_index_cluster_optimization=ON


log-bin					=ON
binlog-format			=ROW
wsrep-provider			=/usr/lib/galera/libgalera_smm.so
wsrep-sst-method		=xtrabackup-v2
wsrep_on				=ON 
query-cache-size=0
query_cache_type=0
# galera 25.3.16 will have option to add  wsrep_provider_options="ist.recv_bind=fqdn or ip;...."
wsrep_provider_options="socket.ssl_key=/etc/mysql/ssl/server-key.pem;socket.ssl_cert=/etc/mysql/ssl/server-cert.pem;socket.ssl_ca=/etc/mysql/ssl/ca-cert.pem"
# set following per node 
wsrep-node-address="node2"
wsrep-node-name=node2
wsrep-cluster-name="ga1era-c1uster"
# set as "gcomm://" for first node
wsrep-cluster-address="gcomm://node3,node1"
wsrep-sst-auth="sst_user:sst_pwd"
# pick least used node for sst cloning
wsrep-sst-donor=node3

# convert locking sessions into transactions
wsrep_convert_LOCK_to_trx = 0

# how many times to retry deadlocked autocommits
wsrep_retry_autocommit = 3


# For generating SSL certificates I recommend the OpenSSL GUI "tinyca".
ssl-ca	=/etc/mysql/ssl/ca-cert.pem
ssl-cert=/etc/mysql/ssl/server-cert.pem
ssl-key	=/etc/mysql/ssl/server-key.pem


[mysql_safe]
log-error	=/dev/stderr
log_warnings		= 3
pid-file	=/var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
nice		= 0


# xtrabackup Configuration
[sst]
compressor="gzip"
decompressor="gzip -dc"
# encrypt using the mysql certs
#encrypt=3
# no encryption as weave is using encryption between nodes
encrypt =0
tca		=/etc/mysql/ssl/ca-cert.pem
tcert	=/etc/mysql/ssl/server-cert.pem
tkey	=/etc/mysql/ssl/server-key.pem

[mysql]
#no-auto-rehash	# faster start of mysql but no tab completion
ssl-ca 		= /etc/mysql/ssl/ca-cert.pem
ssl-key 	= /etc/mysql/ssl/client-key.pem
ssl-cert 	= /etc/mysql/ssl/client-cert.pem

[mysqldump]
quick
quote-names
max_allowed_packet	= 16M

[isamchk]
key_buffer		= 16M

